* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary-color: #282828;
  --second-color:  #F9FAFB;
  --third-color: #D0D5DD;
  --fourth-color: #475467;
  --primary-font-weight: 600;
  --second-font-weight: 400;
  --primary-font-size: 1.4rem;
  --second-font-size: 1.6rem;
  --third-font-size: 5.4rem;  
  --fourth-font-size: 1.8rem;
  --fifth-font-size: 2rem;
  --sixth-font-size: 3.4rem;
  --seventh-font-size: 4.2rem;
  --eighth--font-size: 2.4rem;
  --primary-font-line-height: 2.4rem;
  --second-font-line-height: 2.6rem;
  --third-font-line-height: 6rem;
  --fourth-font-line-height: 3rem;
  --fifth-font-line-height: 5.4rem;
  --fift-font-line-height: 2.8rem;
  --six-font-line-height: 2.2rem;
  --first-letter-spacing: -1px;
  --second-letter-spacing: -4px;
}

header {
  padding: 2rem 0;
}

.container {
  padding: 0 5.2rem;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

header .container .menu-section {
  display: flex;
  gap: 0 32rem;
}

header .container nav ul {
  display: flex;
  gap: 0 4rem;
}

header .container .icones ul {
  gap: 0 2rem;
}

header .container nav ul li {
  list-style: none;
}

header .container nav ul li a {
  text-decoration: none;
  color: var(--primar-color);
  font-size: var(--primary-font-size);
  font-weight: 600;
}

header .container .icones ul li a i {
  font-size: 2.8rem;
}

section.hero {
  display: flex;
  align-items: center;
  gap: 0 8rem;
  background-color: var(--second-color);
}

.hero .hero-text-container {
  max-width: 49rem;
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
}

.hero .hero-text-container a, .hero-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem 0;
  color: var(--primary-color);
}


.hero .hero-text-container .hero-text h1, h3 {
  font-weight: 600;
}

.hero .hero-text-container .hero-text h3 {
  font-size: var(--second-font-size);
  line-height: var(--second-font-line-height);
}


.hero .hero-text-container .hero-text h1 {
  font-size: var(--third-font-size);
  line-height: var(--third-font-line-height);
  letter-spacing: var(--first-letter-spacing);
}

.hero .hero-text-container a, .hero-text p {
  font-size: var(--fourth-font-size);
  line-height: var(--fourth-font-line-height);
}

.hero .hero-text-container .hero-text p {
  font-weight: 400;
}

.hero .hero-text-container a {
  font-weight: 600;
}

section.logos > div {
  padding: 5.2rem;
}
section.logos .container-logos {
  padding: 5.6rem 0;
  display: flex;
  gap: 0 5rem;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #D0D5DD;
  border-bottom: 1px solid #D0D5DD;
}

main section.cards .card .content .category {
  color: #5F6980;
  text-align: center;

  /* Text/16px/Regular */
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

main section.cards {
  display: flex;
  justify-content: center;
  padding: 5.2rem;
  gap: 3.2rem;
}

main section.cards .card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem 0;
}

main section.cards .card .content .type {
  color: var(--primar-color);
  text-align: center;

  /* Heading/07 */
  font-size: var(--fifth-font-size);
  font-weight: 600;
  line-height: var(--fift-font-line-height);
}

section.promocao {
  padding: 5.2rem;
}

section.promocao .promocao-container{
  
  display: flex;
  gap: 0 11.4rem;

  background-color: var(--second-color);
  
}

section.promocao .promocao-container .promo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem 0;
}

section.promocao .promo-container .promo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

section.promocao .promo-container .promo-text h1, h3, h4, p {
  color: var(--primar-color);
}

section.promocao .promo-container .promo-text h3 {
  font-size: var(--second-font-size);
  line-height: var(--second-font-line-height);
  font-weight: 600;
}

section.promocao .promo-container .promo-text h1 {
  font-size: var(--third-font-size);
  line-height: var(--third-font-line-height);
  font-weight: 600;
}

section.promocao .promo-container .promo-text p {
  font-size: var(--fourth-font-size);
  line-height: var(--fourth-font-line-height);
  font-weight: 400;
  margin-bottom: 2.4rem;
}

section.promocao .promo-container .promo-text h4 {
  font-size: var(--sixth-font-size);
  line-height: var(--fourth-font-line-height);
  font-weight: 600;
}

section.promocao .promo-container a {
  font-size: var(--fourth-font-size);
  line-height: var(--fourth-font-line-height);
  font-weight: 600;

  display: flex;
  max-width: max-content;
  padding: 1.0rem 2.4rem;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);

  color: #fff;
  text-decoration: none;
}

section.cta {
  padding: 5.2rem;
  margin: 5.2rem;
  border: 2px solid gray;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
}

section.cta .container-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 54rem;
}

section.cta .container-cta .cta-text {
  text-align: center;
  margin-bottom: 2.4rem;
}

section.cta .container-cta .cta-text h1 {
  font-size: var(--seventh-font-size);
  font-weight: 600;
  line-height: var(--fifth-font-line-height);
}

section.cta .container-cta .cta-text p {
  font-size: var(--fourth-font-size);
  font-weight: 400;
  line-height: var(--fourth-font-line-height);
  
}

section.cta .container-cta .cta-register i {
  font-size: var(--eighth--font-size);
}

section.cta .container-cta .cta-register input {
  font-size: var(--second-font-size);
}

section.cta .container-cta .cta-register {
  border-bottom: 1px solid #D0D5DD;
  max-width: 54rem;
  display: flex;
  padding: 1.3rem 0;
}

section.cta .container-cta .cta-register div {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}

section.cta .container-cta .cta-register input[type="email"] {
  border: none;
  width: 39.5rem;
}

section.cta .container-cta .cta-register a {
  font-size: var(--second-font-size);
  font-weight: 600;
  line-height: var(--fift-font-line-height);
  text-decoration: none;
  color: var(--primar-color);
}

section.banner {
  margin: 5.2rem;
}

.banner .banner-container {
  position: relative;
}

.banner .banner-container img {
  max-width: 100%;
}

.banner .banner-container .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 48rem;
}

.banner .banner-container .banner-text {
  text-align: center;
}

.banner .banner-container .banner-text  .banner-text-description{
  margin-bottom: 2.4rem;
}

.banner .banner-container .banner-text {
  margin-bottom: 2.4rem;
}

.banner .banner-container .banner-text div h3 {
  color: #FFF;
  text-align: center;
  
  font-size: var(--seventh-font-size);
  font-weight: 600;
  line-height: var(--fifth-font-line-height);
  letter-spacing: -0.4px;
}

.banner .banner-container .banner-text div p {
  color: #FFF;
  text-align: center;
  
  font-size: var(--fourth-font-size);
  font-weight: 400;
  line-height: var(--fourth-font-line-height);
}

.banner .banner-container .banner-text div a {
  color: #FFF;

  /* Button/Medium */
  font-size: var(--fourth-font-size);
  font-weight: 600;
  line-height: var(--fourth-font-line-height);
  letter-spacing: -0.4px;
}

footer {
  padding: 7.2rem 5.2rem 3.2rem 5.2rem;
  display: flex;
  flex-direction: column;
  gap: 7.2rem;
  background-color: var(--second-color);
}

footer .footer-top {
  display: flex;
  gap: 0 38.4rem;
  height: 16.2rem;
}

footer .footer-top .footer-top-left {
  max-width: 31rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem 0rem;
}

footer .footer-top .footer-top-left div img {
  margin-bottom: 1.6rem;
}


footer .footer-top .footer-top-left div p {
  color: var(--fourth-color);

  font-size: var(--second-font-size);
  font-weight: 400;
  line-height: var(--second-font-line-height);
}

footer .footer-top .footer-top-left .redes-sociais nav ul {
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

footer .footer-top .footer-top-left .redes-sociais nav ul li a {
    display: flex;
    background: #fff;
    padding: 0.9rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
}


footer .footer-top .footer-top-right {
  display: flex;
  gap: 0 12rem;
}

footer .footer-top .footer-top-right div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 13.4rem;
}

footer .footer-top .footer-top-right div span {
  color: var(--primary-color);

  font-size: var(--primary-font-size);
  font-weight: 600;
  line-height: var(--primary-font-line-height);
}

footer .footer-top .footer-top-right div nav ul {
  list-style: none;
  
  display: flex;
  flex-direction: column;
  gap: 1.2rem 0;
}

footer .footer-top .footer-top-right div nav ul li a {
  text-decoration: none;

  color: #5F6980;

  font-size: var(--primary-font-size);
  font-weight: 400;
  line-height: var(--six-font-line-height);
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom span {
  color: #5F6980;
  text-align: center;

  /* Text/14px/Regular */
  font-size: var(--primary-font-size);
  font-weight: 400;
  line-height: var(--six-font-line-height);
}

footer .footer-bottom .footer-bottom-menus {
  display: flex;
  gap: 0 3.2rem;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom .footer-bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

footer .footer-bottom .footer-bottom-menu label, option, select {
  color: var(--primary-color);

  /* Button/XSmall */
  font-size: var(--primary-font-size);
  font-weight: 600;
  line-height: var(--primary-font-line-height);
}

footer .footer-bottom .footer-bottom-menu label img {
  display: flex;
}

footer .footer-bottom .footer-bottom-menu select {
  border: none;
  background-color: transparent;
}