* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

:root {
  --primary-color: #282828;
  --second-color:  #F9FAFB;
  --third-color: #D0D5DD;
  --fourth-color: #475467;
  --primary-font-weight: 600;
  --second-font-weight: 400;
  --primary-font-size: 1.4rem;
  --second-font-size: 1.6rem;
  --third-font-size: 5.4rem;  
  --fourth-font-size: 1.8rem;
  --fifth-font-size: 2rem;
  --sixth-font-size: 3.4rem;
  --seventh-font-size: 4.2rem;
  --eighth--font-size: 2.4rem;
  --primary-font-line-height: 2.4rem;
  --second-font-line-height: 2.6rem;
  --third-font-line-height: 6rem;
  --fourth-font-line-height: 3rem;
  --fifth-font-line-height: 5.4rem;
  --fift-font-line-height: 2.8rem;
  --six-font-line-height: 2.2rem;
  --first-letter-spacing: -1px;
  --second-letter-spacing: -4px;
}

header {
  padding: 2rem 0;
}

.container {
  /* padding: 0 5.2rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

header .container .menu-section .header-img {
  padding: 0 3rem 0 0;
  cursor: pointer;
}

.fa-solid.fa-caret-down {
  font-size: 1.5rem;
}

header .container .menu-section {
  display: flex;
  /* max-width: 87.2rem; */
  width: 100%;
  justify-content: space-between;
}

header .container .menu-section .menu-section-options .products-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 10rem;
}

header .container .menu-section .menu-section-options .products-dropdown .dropbtn {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  transition: background-color 0.3s linear 0s, color 0.3s linear 0s, color 0.1s linear 0s;
}

header .container .menu-section .menu-section-options .products-dropdown .products-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background-color: var(--third-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  gap: 1rem;
  border-radius: 0.5rem;
  min-width: 10rem;
  width: 100%;
  left: 0;
}

header .container .menu-section .menu-section-options .products-dropdown .products-content a {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s linear 0s;
}

header .container .menu-section .menu-section-options .products-dropdown .products-content a:hover {
  background-color: var(--fourth-color);
}


/* header .container .menu-section .menu-section-options .products-dropdown:hover .products-content {
  display: flex;
} */

header .container nav ul {
  display: flex;
  align-items: center;
  gap: 0 4rem;
  height: 100%;
}

header .container .icones ul {
  gap: 0 2rem;
}

header .container nav ul li {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s linear 0s, color 0.3s linear 0s, color 0.1s linear 0s;
}

header .container .menu-section .icones ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .container .menu-section .icones ul li span {
  font-size: var(--primary-font-size);
  display: none;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 180%;
  width: 15rem;
}

header .container .menu-section .icones ul li span::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

header .container .menu-section .icones ul li:hover span {
  display: block;
}

header .container .menu-section .menu-section-options ul li {
  width: 7.5rem;
  display: flex;
  justify-content: center;
}

header .container nav ul li:hover {
  background-color: var(--third-color);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

header .container nav ul li a {
  text-decoration: none;
  color: var(--primar-color);
  font-size: var(--primary-font-size);
  font-weight: 600;
  
}

header .container .icones ul li a i {
  font-size: 2.8rem;
}


/* ==== HERO ===*/

section.hero {
  /* display: flex;
  align-items: center;
  gap: 0 8rem; */
  background-color: var(--second-color);
}


.hero .container .hero-image {
  max-width: 50%;
}

.hero .container .hero-image img {
  width: 100%;
}

.hero .hero-text-container {
  width: 50%;
  max-width: 49rem;
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
  
}

.hero .hero-text-container a, .hero-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem 0;
  color: var(--primary-color);
}


.hero .hero-text-container .hero-text h1, h3 {
  font-weight: 600;
}

.hero .hero-text-container .hero-text h3 {
  font-size: var(--second-font-size);
  line-height: var(--second-font-line-height);
}


.hero .hero-text-container .hero-text h1 {
  font-size: var(--third-font-size);
  line-height: var(--third-font-line-height);
  letter-spacing: var(--first-letter-spacing);
}

.hero .hero-text-container a, .hero-text p {
  font-size: var(--fourth-font-size);
  line-height: var(--fourth-font-line-height);
}

.hero .hero-text-container .hero-text p {
  font-weight: 400;
}

.hero .hero-text-container a {
  font-weight: 600;
}

section.logos .container-lg {
  padding: 5.2rem;
  max-width: 144rem;
  margin: auto;
}

section.logos .container-logos {
    margin: 5.2rem 0;
    padding: 5.6rem 0;
    display: flex;
    max-width: 144rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D0D5DD;
    border-bottom: 1px solid #D0D5DD;
}

section.logos .container-logos img {
  cursor: pointer;
}

main section.cards .card .content .category {
  color: #5F6980;
  text-align: center;

  /* Text/16px/Regular */
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

main section.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3.2rem;
  padding: 5.2rem;
  max-width: 144rem;
  margin: auto;
}

main section.cards .card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem 0;
  cursor: pointer;
  max-width: 42.4rem;
  width: 100%;
  transition: all 0.3s ease 0s;
}

main section.cards .card:hover {
  transform: translateY(-7px);
}

main section.cards .card .image {
  max-width: 424px;
  width: 100%;
}

main section.cards .card .image img {
  max-width: 100%;
  height: auto;
}

main section.cards .card .content .type {
  color: var(--primar-color);
  text-align: center;

  /* Heading/07 */
  font-size: var(--fifth-font-size);
  font-weight: 600;
  line-height: var(--fift-font-line-height);
}

section.promocao {
  /* padding: 5.2rem 0; */
  background-color: var(--second-color);
}

section.promocao .promocao-img {
  max-width: 50%;
}

section.promocao .promocao-img img {
  width: 100%;
}

/* section.promocao .promocao-container{
  
  display: flex;
  gap: 0 11.4rem;

  background-color: var(--second-color);
  
} */

section.promocao .container .promo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem 0;
  max-width: 48rem;
}

section.promocao .promo-container .promo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

section.promocao .promo-container .promo-text h1, h3, h4, p {
  color: var(--primar-color);
}

section.promocao .promo-container .promo-text h3 {
  font-size: var(--second-font-size);
  line-height: var(--second-font-line-height);
  font-weight: 600;
}

section.promocao .promo-container .promo-text h1 {
  font-size: var(--third-font-size);
  line-height: var(--third-font-line-height);
  font-weight: 600;
}

section.promocao .promo-container .promo-text p {
  font-size: var(--fourth-font-size);
  line-height: var(--fourth-font-line-height);
  font-weight: 400;
  margin-bottom: 2.4rem;
}

section.promocao .promo-container .promo-text h4 {
  font-size: var(--sixth-font-size);
  line-height: var(--fourth-font-line-height);
  font-weight: 600;
}

section.promocao .promo-container a {
  font-size: var(--fourth-font-size);
  line-height: var(--fourth-font-line-height);
  font-weight: 600;

  display: flex;
  max-width: max-content;
  padding: 1.0rem 2.4rem;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);

  color: #fff;
  text-decoration: none;

  transition: all 0.3s linear 0s;
}

section.promocao .promo-container a:hover {
  transform: scale(1.2);
}

section.cta {
  padding: 5.2rem;
  margin: 5.2rem auto;
  border: 2px solid gray;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  max-width: 144rem;
  width: 90%;
}

section.cta .container-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 54rem;
  
}

section.cta .container-cta .cta-text {
  text-align: center;
  margin-bottom: 2.4rem;
}

section.cta .container-cta .cta-text h1 {
  font-size: var(--seventh-font-size);
  font-weight: 600;
  line-height: var(--fifth-font-line-height);
}

section.cta .container-cta .cta-text p {
  font-size: var(--fourth-font-size);
  font-weight: 400;
  line-height: var(--fourth-font-line-height);
  
}

section.cta .container-cta .cta-register i {
  font-size: var(--eighth--font-size);
}

section.cta .container-cta .cta-register input {
  font-size: var(--second-font-size);
}

section.cta .container-cta .cta-register {
  border-bottom: 1px solid var(--third-color);
  max-width: 54rem;
  display: flex;
  padding: 1.3rem;
  transition: border 0.1s linear 0s;
}

section.cta .container-cta .cta-register:hover {
  border: 1px solid var(--third-color);
  border-radius: 1rem;
}

section.cta .container-cta .cta-register div {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}

section.cta .container-cta .cta-register input[type="email"] {
  border: none;
  width: 39.5rem;
}

section.cta .container-cta .cta-register a {
  display: flex;
  padding: 1rem;
  font-size: var(--second-font-size);
  font-weight: 600;
  line-height: var(--fift-font-line-height);
  text-decoration: none;
  color: var(--primar-color);

  transition: background-color 0.3s linear 0s, color 0.3s linear 0s, color 0.1s linear 0s;
}

section.cta .container-cta .cta-register a:hover {
  background-color: var(--third-color);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

section.banner {
  margin: 5.2rem;
}

.banner .banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-container img {
  max-width: 100%;
}

.banner .banner-container .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 48rem;
}

.banner .banner-container .banner-text {
  text-align: center;
}

.banner .banner-container .banner-text  .banner-text-description{
  margin-bottom: 2.4rem;
}

.banner .banner-container .banner-text {
  margin-bottom: 2.4rem;
}

.banner .banner-container .banner-text div h3 {
  color: #FFF;
  text-align: center;
  
  font-size: var(--seventh-font-size);
  font-weight: 600;
  line-height: var(--fifth-font-line-height);
  letter-spacing: -0.4px;
}

.banner .banner-container .banner-text div p {
  color: #FFF;
  text-align: center;
  
  font-size: var(--fourth-font-size);
  font-weight: 400;
  line-height: var(--fourth-font-line-height);
}

.banner .banner-container .banner-text div a {
  color: #FFF;

  /* Button/Medium */
  font-size: var(--fourth-font-size);
  font-weight: 600;
  line-height: var(--fourth-font-line-height);
  letter-spacing: -0.4px;
}

footer {
  padding: 7.2rem 5.2rem 3.2rem 5.2rem;
  display: flex;
  flex-direction: column;
  gap: 7.2rem;
  background-color: var(--second-color);
}

footer .footer-top {
  display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 144rem;
    height: auto;
    margin: auto;
}

footer .footer-top .footer-top-left {
  max-width: 31rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem 0rem;
}

footer .footer-top .footer-top-left div > img {
  margin-bottom: 1.6rem;
}


footer .footer-top .footer-top-left div p {
  color: var(--fourth-color);

  font-size: var(--second-font-size);
  font-weight: 400;
  line-height: var(--second-font-line-height);
}

footer .footer-top .footer-top-left .redes-sociais nav ul {
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

footer .footer-top .footer-top-left .redes-sociais nav ul li a {
  display: flex;
  background: #fff;
  padding: 0.9rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  transition: all 0.3s linear 0s;
}

footer .footer-top .footer-top-left .redes-sociais nav ul li a:hover {
  border: 1px solid var(--primary-color);
}


footer .footer-top .footer-top-right {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

footer .footer-top .footer-top-right div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 13.4rem;
}

footer .footer-top .footer-top-right div span {
  color: var(--primary-color);

  font-size: var(--primary-font-size);
  font-weight: 600;
  line-height: var(--primary-font-line-height);
}

footer .footer-top .footer-top-right div nav ul {
  list-style: none;
  
  display: flex;
  flex-direction: column;
  gap: 1.2rem 0;
}

footer .footer-top .footer-top-right div nav ul li a {
  text-decoration: none;

  color: #5F6980;

  font-size: var(--primary-font-size);
  font-weight: 400;
  line-height: var(--six-font-line-height);
  transition: all 0.3s linear 0s;
}

footer .footer-top .footer-top-right div nav ul li a:hover {
  color: black;
  font-weight: bold;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 144rem;
  margin: auto;
}

footer .footer-bottom span {
  color: #5F6980;
  text-align: center;

  /* Text/14px/Regular */
  font-size: var(--primary-font-size);
  font-weight: 400;
  line-height: var(--six-font-line-height);
}

footer .footer-bottom .footer-bottom-menus {
  display: flex;
  gap: 0 3.2rem;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom .footer-bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

footer .footer-bottom .footer-bottom-menu:hover, label, select, option {
  cursor: pointer;
}

footer .footer-bottom .footer-bottom-menu label, option, select {
  color: var(--primary-color);

  /* Button/XSmall */
  font-size: var(--primary-font-size);
  font-weight: 600;
  line-height: var(--primary-font-line-height);
}

footer .footer-bottom .footer-bottom-menu label img {
  display: flex;
}

footer .footer-bottom .footer-bottom-menu select {
  border: none;
  background-color: transparent;
}


@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 912px) {

  html {
    font-size: 41%;
  }

  section.logos .container-logos {
    display: grid;
    grid-template-columns: repeat(3, minmax(125px, 1fr));
    grid-gap: 5rem;
    align-items: center;
    justify-items: center;
  }

  main section.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding: 0;
    width: 90%;
    margin: auto;
    padding-bottom: 5.2rem;
  }
  
  footer {
    padding: 7.2rem 5rem 3.2rem 5rem;
    display: flex;
    flex-direction: column;
    max-width: 144rem;
    width: 100%;
    justify-content: space-between;
    gap: 7.2rem;
    background-color: var(--second-color);
}

  footer .footer-top {
    display: flex;
    justify-content: space-between;
    gap: 0;
    height: auto;
  }

  footer .footer-top .footer-top-right {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
  
}

@media (max-width: 700px) {

  html {
    font-size: 50%;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

 header .container .menu-section .menu-section-options .products-dropdown {
  max-width: 90%;
}

  header .container .menu-section .menu-section-options .products-dropdown .dropbtn {
    width: 100%;
    justify-content: space-between;
  }

  header .container .header-img {
    align-self: flex-start;
    z-index: 11;
  }
  
  header .container .menu-section nav {
    display: none;
  }

  .one, .two, .three {
    background-color: var(--primary-color);
    height: 0.5rem;
    width: 100%;
    margin: 6px auto;
  }

  .menu-toggle {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    right: 10px;
    top: 20px;
    position: absolute;
  }

  header .container .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--second-color);
    
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  header .container .menu-section.on nav {
    display: flex;
    width: 100%;
    height: 35%;
  }

  header .container .menu-section.on nav:first-of-type {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }


  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  header .container .menu-section.on nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  .menu-section.on .menu-toggle nav ul a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }

  header .container .menu-section.on nav ul li {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 50%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--primary-color);
  }

  .hero .container .hero-image {
    max-width: 100%;
    margin: 3rem 0;
}

  .hero .hero-text-container {
    text-align: center;
    width: 100%;
    margin: 3rem 0;
  }

  section.logos .container-logos {
    display: grid;
    grid-template-columns: repeat(1, minmax(125px, 1fr));
    grid-gap: 5rem;
    align-items: center;
    justify-items: center;
}

  main section.cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    padding: 0;
    width: 90%;
    margin: auto;
    padding-bottom: 5.2rem;
    justify-items: center;
}

  section.promocao .promocao-img {
    max-width: 100%;
    margin-bottom: 4rem;
  }

  section.promocao .container .promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
  }

  section.promocao .promo-container .promo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.promocao .promo-container .promo-text p {
    text-align: center;
  }

  section.cta .container-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 54rem;
    width: 100%;
  }

  section.cta .container-cta .cta-register{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  section.cta .container-cta .cta-register input[type="email"] {
    border: none;
    width: 100%;
}

  section.cta .container-cta .cta-register a {
    justify-content: center;
  }

  section.banner {
    margin: auto;
    max-width: 90%;
}

  footer .footer-top {
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

  footer .footer-top .footer-top-left {
    align-items: center;
  }

  footer .footer-top .footer-top-right {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer .footer-top .footer-top-right div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 90%;
}

}